@using WebApplication.Models
@model WebApplication.Models.Employee
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeInfo</title>
</head>
<body>

<h3>Карточка сотрудника</h3>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Возраст</th>
    </tr>
    </thead>
    <tbody>
    @{
        var employee = Model;
    <tr>    
        <td>@employee.Id</td>
        <td>@employee.LastName</td>
        <td>@employee.FirstName</td>
        <td>@employee.Patronymic</td>
        <td>@employee.Age</td>
    </tr>
    }
    </tbody>
</table>
<hr/>

<a href="~/Home/Index">Главная</a>
<a href="~/Home/Employees">Список сотрудников</a>

</body>
</html>